= render partial:"ie"
/= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC{style:"height: 1150px;"}
	= render partial: "gimpTop"
	#pageTitle
		%h1
			Annual BBQ 2011
		%br
		.bbq
			=image_tag 'bbq_2011.png'
		.eventSubText
			%p
				In November, the Corners Society hosted a "Backyard BBQ" at the home of Sean and Kristin Hair. Prior to the event the corners society purchased overnight bags as well as basic toiletries to address a need at the men's shelter for members of the SABER program - an adult support group for recovering substance abusers ... During the event members packed the bags with the toiletries and later delivered them to the shelter.

= render partial:"footer"