= render partial:"ie"
= render partial:"top"
#mainContainer
	#pageTitle
		%h1
			Purchase your 2012 Gala tickets here!
		.savethedate
			=image_tag 'savethedate_2012.png'
		= render partial: 'paypal'
= render partial:"footer"