= render partial:"ie"
/= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC
	= render partial: "gimpTop"
	#pageTitle
		%h1
			Purchase your 2012 Gala tickets here!
		.savethedate
			=image_tag 'savethedate_2012.png'
		= render partial: 'paypal'
= render partial:"footer"