= render partial:"top"
#mainContainer
	%img{src:"assets/home1.jpg", id:"home1", class:"homeImages"}
	%img{src:"assets/home2.jpg", id:"home2", class:"homeImages"}
	%img{src:"assets/home3.jpg", id:"home3", class:"homeImages"}
= render partial:"footer"