= render partial:"ie"
= render partial:"top"
#mainContainer
	#pageTitle
		%h1
			Initiatives
	#goals_initiatives
		= image_tag 'IMG_0514.jpg'

		%p &nbsp;&nbsp;&nbsp;&nbsp;Due to its complex nature as well as its broad and indiscriminate effects, the current recession can be particularly devastating to many citizens. In attempting to alleviate the burden on the City of Charlotte, it is necessary to approach the issue from multiple perspectives.
		%ul
			%li <h4>Charitable Needs</h4>&nbsp;&nbsp;&nbsp;&nbsp;During the creation of The Corners Society in 2009, it was unanimously agreed upon that the present economic crisis and its direct impact on the citizens of Charlotte must be the focus of our immediate efforts. The “Great Recession” is a world wide issue, but its effects are most intensely felt at the community level. Charlotte is no exception.
			%li <h4>Volunteering</h4>&nbsp;&nbsp;&nbsp;&nbsp;By actually getting into the community and physically assisting Target Charities, The Corners Society helps to alleviate that over-stressed social infrastructure that frequently has limited personnel and financial resources.
			%li <h4>Investment in the Future</h4>&nbsp;&nbsp;&nbsp;&nbsp;The Corners Society invests in the future generations of Charlotte by contributing resources to Target Charities that focus on maintaining and improving the quality of life within the community.
			%li <h4>Direct Donation</h4>&nbsp;&nbsp;&nbsp;&nbsp;By giving money directly to our carefully selected Target Charities, The Corners Society is ensuring that our philanthropic efforts will have the greatest impact in the community and on those citizens over-burdened by the current economic hardship.
= render partial:"footer"