= render partial:"ie"
= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC{style:"height: 1150px;"}
	= render partial: "gimpTop"
	#pageTitle
		%h1
			Make a Donation
	#goals_initiatives
		%ul{style:"text-align:center;"}
			%li
				%h4
					The Corners Society is recognized by the IRS as a 501(c)(3) organization. <a href="/501c3_corners.pdf">501(c)(3) letter</a>
= render partial:"footer"