= render partial:"top"
#mainContainer
	#pageTitle
		%h1
			Members
	#about_us_overview
		%h2 
			Board of Directors
		#boardMembers
			%table{id:"membersTable"}
				%tr
					%td{class:"membersLabel"}
						Matthew F. McLanahan
					%td{class:"membersLabel"}
						T. Heath Norman
				%tr
					%td
						Chairman
					%td
						Service Director
   
			%table{id:"membersTable"}
				%tr
					%td{class:"membersLabel"}
						Timothy A. Broderick
					%td{class:"membersLabel"}
						Andrew F. Dana
					%td{class:"membersLabel"}
						Jonathan D. Dixon
				%tr
					%td
						Secretary
					%td
						General Counsel
					%td
						Treasurer
                
		%h2 
			Members
		%table{id:"membersTable", class:"memberList"}
			%tr
				%td
					C. Yeatts Anderson
				%td
					Matthew P. Cochrane
				%td
					John D. Comly
			%tr
				%td
					Oliver R. Cross III
				%td	
					Brett H. Estwanik
				%td
					Mark. L. Griffith
			%tr
				%td
					Sean R. Hair
				%td
					Guy T. McBride III
				%td
					R. Neal Porter
			%tr
				%td
					James W. Roberts
				%td
					Eric J. Speckman
				%td
					Garrik L. Sturges
			%tr
				%td
					James D. Thompson IV
				%td
					Christopher S. Walker
				%td
					William S. Wilson
			%tr
				%td
					W. Stewart Cowden III
				%td
					Alan C. Welch Jr.
				%td
					Erik B. Johnson
= render partial:"footer"