= render partial:"ie"
/= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC{style:"height: 1150px;"}
	= render partial: "gimpTop"
	#pageTitle
		%h1
			2010 Sponsors
	#goals_initiatives
		%ul{style:"text-align:center;"}
			%li 
				%h4
					Gold Level Sponsors
				%span 
					Textile Printing, Inc.
					Individual Donors*
			%li
				%h4
					Blue Level Sponsors
				%span 
					Individual Donors*
			%li
				%h4
					Corporate Sponsors
				%table{style:"width:80%; display:inline-table;"}
					%tr
						%td Palestra Skin & Body Institute
						%td	Metro Fitness Club
					%tr
						%td Jeffre Scott Apothecary
						%td	Charlotte Athletic Club
					%tr
						%td Emerson Joseph
						%td Capitol Clothing
					%tr
						%td Varji & Varji
						%td kk bloom
					%tr
						%td Elizabeth House Flowers, Inc
						%td Hunter Dixon
					%tr
						%td Bond Street Imports
						%td Carolina Panthers
					%tr
						%td Clean Catch Fish Market
						%td Café Monte
					%tr
						%td New York Butcher
						%td Del Frisco’s Steakhouse
					%tr
						%td Elizabeth Brunz Inc.
						%td Georges Brasserie
					%tr
						%td Donald Haack Diamonds
						%td Arzberger Stationers
					%tr
						%td Taylor Richards & Conger
						%td Pure Barre
					%tr
						%td Tom James Inc.
						%td Markham & Hair, DDS
					%tr
						%td Myers Park Country Club
						
				%li{style:"text-align:center"}
					%span
						%p{style:"font-size:80%;"} * Individual donors have not been listed for reasons of internet privacy. If you would like a full list of our donors, please inquire via email at <a href="mailto:info@thecornerssociety.org">info@thecornerssociety.org</a>
						%p{style:"font-size:80%;"} -To enquire about sponsoring The Corners Society and/or donating your professional services please email <a href="mailto:info@thecornerssociety.org">info@thecornerssociety.org</a>
						
= render partial:"footer"