= render partial:"ie"
= stylesheet_link_tag "gimpTop"
/= render partial:"top"
/#mainContainer
#mainC{style:"height: 1150px;"}
	= render partial: "gimpTop"
	#pageTitle
		%h1
			Why Give?
	#goals_initiatives
		%ul
			%li <h4 style="padding-bottom:7px;">Ability to move quickly and decisively</h4>&nbsp;&nbsp;&nbsp;&nbsp;The Corners Society organizes funds and volunteers for specific projects that respond to the needs of Mecklenburg County and surrounding areas. As such, we are free to focus our efforts on any emergent needs, should they arise.
			%li <h4 style="padding-bottom:7px;">More than just charity</h4>&nbsp;&nbsp;&nbsp;&nbsp;Through a commitment of direct involvement in charitable projects, the Corners Society supports local charities or organizations that are in the greatest need of immediate assistance - whether it be through volunteer hours, ’donations of specific goods, financial support, or otherwise.
			%li 
				<h4 style="padding-bottom:7px;">Local Impact</h4>&nbsp;&nbsp;&nbsp;&nbsp;The Corners Society has the advantage of being able to mobilize and allocate financial and physical resources where it will produce the most significant impact to our community and its residents. All of the money given to The Corners Society goes back to the City of Charlotte.
				%br
				&nbsp;&nbsp;&nbsp;&nbsp;The Corners Society serves the City of Charlotte, creating a foundation upon which to enrich our community, to give back to our neighbors, and to ensure continued prosperity for future generations.
= render partial:"footer"