.navbar{class: "navbar navbar-fixed-bottom"}
	.navbar-inner
		.container
			%h6
				%small Founded by dedicated Charlotte citizens, The Corners Society serves the community through reverence for the past and charity for the future.
				%a{:href => "mailto:info@thecornerssociety.org?Subject=Web%20Contact"}email us