.row
	.span12
		.page-header
			%h1
				Annual Barbeque 2011
.row
	.span12
		%p &nbsp;&nbsp;&nbsp;&nbsp;In November, the Corners Society hosted a "Backyard BBQ" at the home of Sean and Kristin Hair. Prior to the event the corners society purchased overnight bags as well as basic toiletries to address a need at the men's shelter for members of the SABER program - an adult support group for recovering substance abusers ... During the event members packed the bags with the toiletries and later delivered them to the shelter.
.row
	.span12
		.thumbnail
			=image_tag 'bbq_2011.png'
