.row
	.span12
		%ul.thumbnails
			%li.span12
				.thumbnail
					=image_tag("cornerssociety.gif", alt: "corners logo")
			%li.span12
				%h1
					%small The Corners Society is where the people of Charlotte can help their neighbors in need. Through a commitment to direct participation in volunteer efforts, The Corners Society has the unique capability of identifying where resources are needed in our community and responding to those needs in a way that produces the greatest impact.
			%li.span12
				.thumbnail
					=image_tag("charlotteSkyline.jpg", alt: "charlotte NC")