.row
	.span12
		.page-header
			%h1
				Make a Donation
.row
	.span12
		.span5{class: "offset4"}
			= link_to("Click Here to See Sponsorship Levels", asset_path("CornersSponsorshipTiers.pdf"))
.row
	.span12
		.span2{class: "offset5"}
			= render partial: "db"
.row
	.span12
		.span5{class: "offset4"}
			%p The Corners Society is recognized by the IRS as a 501(c)(3) organization. <a href="http://corners_assets.s3.amazonaws.com/images/501c3_corners.pdf">501(c)(3) letter</a>