.row
	.span12
		.page-header
			%h1
				Members
.row
	.span5{class: "offset5"}
		%h1 Board of Directors
.row
	.span4{class: "offset3"}
		%dl
			%dt
				Matthew F. McLanahan
			%dd
				Chairman
	.span4
		%dl	
			%dt
				T. Heath Norman
			%dd
				Service Director
.row
	.span3{class: "offset2"}
		%dl
			%dt
				Timothy A. Broderick
			%dd
				Secretary
	.span3
		%dl
			%dt
				Andrew F. Dana
			%dd
				General Counsel
	.span3
		%dl
			%dt
				Jonathan D. Dixon
			%dd
				Treasurer
.row
	.span4{class: "offset5"}
		%h1 Membership
.row
	.span3{class: "offset2"}
		%ul.unstyled
			%li C. Yeatts Anderson
			%li Matthew P. Cochrane	 
			%li John D. Comly
			%li Oliver R. Cross III	
			%li Brett H. Estwanik	 
			%li Mark. L. Griffith
			%li Ransome Foose
			%li Brannen Edge
	.span3
		%ul.unstyled
			%li Sean R. Hair	
			%li Guy T. McBride III	
			%li R. Neal Porter
			%li James W. Roberts	
			%li Eric J. Speckman	 
			%li Garrik L. Sturges
			%li Jay Levell
	.span3
		%ul.unstyled
			%li James D. Thompson IV	
			%li Christopher S. Walker	
			%li W. Stewart Cowden III
			%li Alan C. Welch Jr.	
			%li Erik B. Johnson
			%li John Hallett
			%li Dunn Mileham