.row
	.span12
		.page-header
			%h1
				Sponsors
.row
	.span12
		.span4{class: "offset4"}
			%h2 Gold Level Sponsors
			%h2
				%small Textile Printing, Inc. 
			%h2
				%small Individual Donors*
			%br
			%br
.row
	.span12
		.span4{class: "offset4"}
			%h2 Blue Level Sponsors
			%h2
				%small Individual Donors*
			%br
.row
	.span12
		.span4{class: "offset4"}
			%h2 Corporate Sponsors
.row
	.span4{class: "offset2"}
		%ul.unstyled
			%li 
				%h3
					%small Palestra Skin & Body Institute	
			%li 
				%h3
					%small Metro Fitness Club
			%li	
				%h3
					%small Jeffre Scott Apothecary
			%li	
				%h3
					%small Charlotte Athletic Club
			%li	
				%h3
					%small Emerson Joseph
			%li	
				%h3
					%small Capitol Clothing
			%li	
				%h3
					%small Varji & Varji
			%li	
				%h3
					%small kk bloom
			%li	
				%h3
					%small Elizabeth House Flowers, Inc
			%li	
				%h3
					%small Hunter Dixon
			%li	
				%h3
					%small Bond Street Imports
			%li	
				%h3
					%small Carolina Panthers
			%li	
				%h3
					%small Clean Catch Fish Market
	.span4{class: "offset2"}
		%ul.unstyled
			%li 
				%h3
					%small Café Monte	
			%li
				%h3
					%small  New York Butcher	
			%li 
				%h3
					%small Del Frisco’s Steakhouse
			%li	
				%h3
					%small Elizabeth Brunz Inc.
			%li	
				%h3
					%small Georges Brasserie	
			%li
				%h3
					%small  Donald Haack Diamonds	
			%li
				%h3
					%small  Arzberger Stationers	
			%li 
				%h3
					%small Taylor Richards & Conger
			%li	
				%h3
					%small Pure Barre
			%li	
				%h3
					%small Tom James Inc.
			%li	
				%h3
					%small Markham & Hair, DDS	
			%li 
				%h3
					%small Myers Park Country Club
%br
%br
.row
	.span12
		%h6 * Individual donors have not been listed for reasons of internet privacy. If you would like a full list of our donors, please inquire via email at <a href="mailto:info@thecornerssociety.org">info@thecornerssociety.org</a>
.row
	.span12
		%h6 -To enquire about sponsoring The Corners Society and/or donating your professional services please email <a href="mailto:info@thecornerssociety.org">info@thecornerssociety.org</a>
